/* fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:wght@300&display=swap");

:root {
    --site-width: 1000px;
    --post-text-width: 760px;
    --post-image-max-width: 600px;

    /* Logo */
    --logo-size: 64px;

    /* Fonts */
    --font-family: "Lato", sans-serif;

    /* colours */
    --grey: #475569;
    --light-grey: #94a3b8;
    --dark-grey: #0f172a;
    --light-pink: #f1dbe7;
}

/* Global */
* {
    box-sizing: border-box;
}

h1 {
    font-family: var(--font-family);
    color: var(--dark-grey);
    max-width: var(--post-text-width);
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 200;
    text-align: left;
    margin: 2rem auto;
    padding-top: 0px;
}

h2 {
    font-family: var(--font-family);
    color: var(--dark-grey);
    max-width: var(--post-text-width);
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 300;
    text-align: left;
    margin: 2rem auto;
    padding-bottom: 0px;
}

html,
body {
    font-family: var(--font-family);
    font-style: normal;
    color: var(--grey);
    font-size: 1.175rem;
}

img {
    display: block;
    max-width: var(--post-image-max-width);
    height: auto;
    margin: 2rem auto;
}

.logo {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: var(--logo-size);
}

.logo img{
    max-width: var(--logo-size);
}

/* --- Global END --- */

/* --- Nav --- */
nav.nav {
    width: auto;
    text-align: center;
    margin: 0;
    padding: 2rem 0;
}

nav.nav ul {
    letter-spacing: 0.125rem;
    font-style: normal;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.nav ul .nav-item {
    display: inline-block;
    font-size: 0.875rem;
    color: var(--grey);
    text-align: center;
    text-decoration: none;
}

nav.nav ul .nav-item a {
    display: inline-block;
    font-size: 0.875rem;
    color: var(--grey);
    text-align: center;
    text-decoration: none;
    padding: 0 0.8em;
}

nav.nav ul .nav-item a.active {
    color: var(--light-grey);
}

/* --- Nav END --- */

/* --- grid/structure --- */
#header,
.content-wrapper {
    margin: 0 auto;
    padding: 0 1rem;
}

/* --- grid/structure END --- */

/* --- Header --- */
#header,
.header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
    max-width: var(--post-text-width);
}

/* Mobile header */
@media only screen and (max-width: 630px) {
    #header,
    .header {
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        padding: 0;
        gap:0;
    }
}
/* --- Header END --- */

/* --- post --- */
article.post {
    letter-spacing: 0px;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.6em;
    margin-bottom: 50px;
    text-align: left;
}

article.post .post--article-link {
    text-decoration: none;
    color: var(--dark-grey);
}

.post--date {
    max-width: var(--post-text-width);
    text-align: left;
    margin: 2rem auto;
    font-size: 0.875rem;
    color: var(--light-grey);
}

.post--body a {
    margin: 2rem auto;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 3px;
    color: var(--grey);
    text-decoration-color: var(--light-pink);
    transition: box-shadow 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
    will-change: box-shadow;
}

.post--body a:hover {
    box-shadow: var(--light-pink) 0px -1.4em inset;
    color: var(--dark-grey);
}

.post--body {
    text-align: center;
}

.post--body p {
    text-align: left;
    max-width: var(--post-text-width);
    margin: 1rem auto;
}

.post--body img {
    width: 100%;
}

.post--body .float-left {
    float: left;
    padding-right: 30px;
}

/* makes images fullscreen on mobile/tablet */
@media only screen and (max-width: 600px) {
    .post--body .float-left {
        float: none;
        clear: both;
        width: 100%;
    }
}

/* Add the fullwidth class to a image to make it fullwidth */
img.fullwidth {
    max-width: 100%;
    height: auto;
    margin: 2rem auto;
}

.caption {
    display: inline-block;
}
.caption img {
    margin-bottom: 0;
}
.caption p {
    margin: 0.5rem 0 2rem 0;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.15;
    color: var(--light-grey);
}

/* --- post END --- */

/* -- Form --- */

form {
    width: 100%;
    max-width: 550px;
    margin: auto;
}

.form-group {
    margin-bottom: 2rem;
    text-align: left;
}

/* Styling for the input fields */
.form-group--input input,
.form-group--input textarea {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    display: block;
    font-size: 1rem;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    font-family: var(--font-family);

    /* Removing some browser default styles for inout field */
    box-shadow: none;
    background-color: #fff;
    outline: none;
}

/* Styling for the form button */
.form-group--button {
    color: var(--grey);
    font-family: var(--font-family);
    font-weight: normal;
    text-align: center;
    font-size: 1rem;
    border: 2px solid var(--light-pink);

    /* How the cursor behaves when on the element (pointer = hand/finger) */
    cursor: pointer;
    background-color: #fff;

    border-radius: 3141592px;
    padding: 0.5rem 1.4rem;

    /* to centre the button */
    display: block;
    margin: 0 auto;

    transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
    will-change: background-color;
}

.form-group--button:hover {
    color: var(--dark-grey);
    background-color: var(--light-pink);
}

/* --- END Form --- */

/* --- footer --- */
footer.footer {
    font-size: 1.125rem;
    padding: 32px;
    background-color: var(--light-pink);
}

footer.footer small {
    text-align: center;
    font-family: var(--font-family);
    display: block;
    color: var(--dark-grey);
}

/* --- footer END --- */
