/* fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400&600");

:root{
  --site-width: 1000px;
  --post-text-width: 700px;
  --post-image-max-width:600px;

  /* Fonts */
  --font-family: "Open Sans", sans-serif;

  /* colours */
  --grey: #54565a;
  --light-grey: #a8a8a8;
  --dark-grey: #222;
  --pink: #f8bba6;
}


/* Global */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  color: var(--grey);
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: var(--post-image-max-width);
  height: auto;
  margin: 2rem auto;
}

h1 {
  font-size: 1.875srem;
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--dark-grey);
  text-align: center;
  line-height: 2rem;
  padding-top: 0px;
}

h2{
  font-family: var(--font-family);
  font-size: 0.925rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  line-height: 1.75em;
  color: var(--dark-grey);
  line-height: 2rem;
  padding: 0;
  margin: 0;
}

/* --- Global END --- */

/* --- Nav --- */
nav.nav {
  width: auto;
  text-align: center;
  margin: 0;
  padding: 2rem 0;
}

nav.nav ul {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  line-height: 1.75em;
  font-style: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.nav ul .nav-item {
  display: inline-block;
  font-size: 0.875rem;
  color: var(--grey);
  text-align: center;
  text-decoration: none;
}

nav.nav ul .nav-item a {
  display: inline-block;
  font-size: 0.875rem;
  color: var(--grey);
  text-align: center;
  text-decoration: none;
  padding: 0 0.8em;
}

nav.nav ul .nav-item a.active {
  color: var(--light-grey);
}

/* --- Nav END --- */

/* --- grid/structure --- */
#header,
.content-wrapper {
  max-width: var(--site-width);
  margin: 0 auto;
  padding: 0 1rem;
}

/* --- grid/structure END --- */

/* --- post --- */
article.post {
  line-height: 1.7em;
  letter-spacing: 0px;
  font-style: normal;
  font-size: 1rem;
  margin-bottom: 100px;
  text-align: center;
}

article.post .post--article-link {
  text-decoration: none;
  color: var(--dark-grey);
}

.post--header {
}

.post--date {
  margin: 30px 0;
  text-align: center;
  font-size: 0.875rem;
  color: var(--light-grey);
}

.post--body a {
  text-decoration: none;
  color: var(--grey);
  box-shadow: var(--pink) 0px -2px 0px inset;
  transition: box-shadow 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
  will-change: box-shadow;
  padding-bottom: 3px;
}

.post--body a:hover{
	box-shadow: var(--pink) 0px -1.4em inset;
}

.post--body {
  text-align: center;
}

.post--body p {
  text-align: left;
  max-width: var(--post-text-width);
  margin: 1rem auto;
}

.post--body img{
  width: 100%;
}

.post--body .float-left {
  float: left;
  padding-right: 30px;
}

/* makes images fullscreen on mobile/tablet */
@media only screen and (max-width: 600px) {
  .post--body .float-left {
    float: none;
    clear: both;
    width: 100%;
  }
}

.post--link{
  font-family: var(--font-family);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 35px 0;
  color: var(--dark-grey);
  box-shadow: var(--pink) 0px -2px 0px inset;
  transition: box-shadow 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
  will-change: box-shadow;
  padding-bottom: 3px;
}

.post--link:hover{
  box-shadow: var(--pink) 0px -2.4em inset;
}

/* Add the fullwidth class to a image to make it fullwidth */
img.fullwidth {
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
}

.caption {
  display: inline-block;
}
.caption img {
  margin-bottom: 0;
}
.caption p {
  margin: 0.5rem 0 2rem 0;
  text-align: left;
  font-size: 0.875rem;
  color: var(--light-grey);
}

/* --- post END --- */

/* -- FORM --- */

form {
  width: 100%;
  max-width: 550px;
  margin: auto;
}

.form-group {
  margin-bottom: 2rem;
  text-align: left;
}

/* Styling for the input fields */
.form-group--input input,
.form-group--input textarea {
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  display: block;
  font-size: 1rem;
  padding: 10px;
  margin-top: 5px;
	width: 100%;
	font-family: var(--font-family);

  /* Removing some browser default styles for inout field */
  box-shadow: none;
  background-color: #fff;
  outline: none;
}

/* Styling for the form button */
.form-group--button {
  color: var(--dark-grey);
  font-family: var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  border: 2px solid var(--pink);

  /* How the cursor behaves when on the element (pointer = hand/finger) */
  cursor: pointer;

  background-color: #fff;

  /*
		This is how we round corners
		(the number is so high just to be sure the button will
		always be rounded no matter the size of the button)
	*/
  border-radius: 290486px;
  padding: 0.7rem 3rem;

  /* to centre the button */
  display: block;
	margin: 0 auto;

	transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
	will-change: background-color;
}

.form-group--button:hover {
  background-color: var(--pink);
}

/* --- END From --- */

/* --- footer --- */
footer.footer {
  padding: 35px 0;
  background-color: rgba(0, 0, 0, 0.05);
}

footer.footer .footer--logo {
  padding: 0;
  display: block;
  max-width: 100px;
  margin: auto;
}

footer.footer .footer--content {
  text-align: center;
  font-family: var(--font-family);
  color: var(--dark-grey);
}

footer.footer small {
  text-align: center;
  font-family: var(--font-family);
  display: block;
  margin: 0 auto;
  color: var(--light-grey);
  padding-top: 10px;
}

/* --- footer END --- */
