---
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";
import Interplay from "../../assets/Interplay-desktop.png";
---

<Layout>
    <article class="post">
        <div class="post--header">
            <div class="post--date">December 2022</div>
            <h1>Hope begins in the dark</h1>
        </div>

        <div class="post--body">
            <p>
                Lorem ipsum dolor sit amet a diam consectetur adipiscing elit
                sed do tempor estim nisi ut aliquip ex ea commodo consequat.
            </p>

            <div class="caption">
                <Image class="fullwidth" src={Interplay} alt="" />
                <p>Medium fidelity prototype for user testing.</p>
            </div>

            <h2>Response</h2>
            <p>
                Lorem ipsum dolor sit amet a diam consectetur adipiscing elit
                sed do tempor estim nisi ut aliquip ex ea commodo consequat.
            </p>

            <p><a href="/work">See more work</a>.</p>
            <br />
        </div>
    </article>
</Layout>
