---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <article class="post">
        <div class="post--header">
            <div class="post--date">October 2021</div>
            <h1>Ask forgiveness not permission</h1>
        </div>

        <div class="post--body">
            <p>
                At the start of last year the British Council pitched to IELTS -
                its International English Language Testing partners, an ambition
                to develop the first product that fully aligned language
                learning with testing.
            </p>
            <p>
                With the vast majority of it's global teaching and testing
                centres closed, the organisation felt it had an opportunity to
                develop an offer that benefitted the increasing number of
                digital natives with accessible enabling technology.
            </p>
            <p>
                The decision was made to invite Senior Leadership to engage in a
                conversation about the opportunity, for which a significant
                number of discussion aids needed to be prepared.
            </p>

            <div class="caption">
                <img class="fullwidth" src="/assets/IELTS-desktop.png" alt="" />

                <p>Desktop wireframe for English practise homepage.</p>

                <div class="caption">
                    <img src="/assets/IELTS-set-up-guide.gif" alt="" />
                    <p>Mobile wireframe for test set-up explanation.</p>
                </div>

                <div class="caption">
                    <img class="fullwidth" src="/assets/IELTS-app.png" alt="" />
                    <p>Mobile mock-ups for the self-paced learning app.</p>
                </div>

                <div class="caption">
                    <img src="/assets/IELTS-banners.gif" alt="" />
                    <p>Audience segmented promotions for social media.</p>
                </div>

                <h2>Response</h2>
                <p>
                    The introduction of illustrations by
                    <a href="https://www.openpeeps.com/" target="_blank"
                        >Pablo Stanley</a
                    >
                     were a dolor sit amet a diam consectetur adipiscing elit
                    sed do tempor estim nisi ut aliquip ex ea commodo.
                </p>

                <p><a href="/work">See more work</a>.</p>
                <br />
            </div>
        </div>
    </article>
</Layout>
