---
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";
import LLPmobile from "../../assets/LLP-mobile.png";
import LLPposter from "../../assets/LLP-poster.png";
import LLPgif from "../../assets/LLP.gif";
---

<Layout>
    <article class="post">
        <div class="post--header">
            <div class="post--date">June 2020</div>
            <h1>Have faith in what will be</h1>
        </div>

        <div class="post--body">
            <p>
                Lorem ipsum dolor sit amet a diam consectetur adipiscing elit
                sed do tempor estim nisi ut aliquip ex ea commodo consequat.
            </p>

            <div class="caption">
                <Image src={LLPgif} alt="" />
                <p>Caption.</p>
            </div>

            <div class="caption">
                <Image class="fullwidth" src={LLPmobile} alt="" />
                <p>Caption.</p>
            </div>

            <div class="caption">
                <Image src={LLPposter} alt="" />
                <p>Caption.</p>
            </div>

            <h2>Response</h2>
            <p>
                Lorem ipsum dolor sit amet a diam consectetur adipiscing elit
                sed do tempor estim nisi ut aliquip ex ea commodo consequat.
            </p>

            <p><a href="/work">See more work</a>.</p>
            <br />
        </div>
    </article>
</Layout>
