---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <article class="post">
        <div class="post--header">
            <div class="post--date">June 2020</div>
            <h1>Have faith in what will be</h1>
        </div>

        <div class="post--body">
            <p>
                Lorem ipsum dolor sit amet a diam consectetur adipiscing elit
                sed do tempor estim nisi ut aliquip ex ea commodo consequat.
            </p>

            <div class="caption">
                <img src="/assets/LLP.gif" alt="" />
                <p>Caption.</p>
            </div>

            <div class="caption">
                <img class="fullwidth" src="/assets/LLP-mobile.png" alt="" />
                <p>Caption.</p>
            </div>

            <div class="caption">
                <img src="/assets/LLP-poster.png" alt="" />
                <p>Caption.</p>
            </div>

            <h2>Response</h2>
            <p>
                Lorem ipsum dolor sit amet a diam consectetur adipiscing elit
                sed do tempor estim nisi ut aliquip ex ea commodo consequat.
            </p>

            <p><a href="/archive">See more work</a>.</p>
            <br />
        </div>
    </article>
</Layout>
