---
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";
import FeedThemDesktopImage from "../../assets/FeedThem-desktop.png";
import FeedThemLogo from "../../assets/FeedThem-logo.png";
---

<Layout>
    <article class="post">
        <div class="post--header">
            <div class="post--date">November 2019</div>
            <h1>Progress is better than perfect</h1>
        </div>

        <div class="post--body">
            <p>
                Lorem ipsum dolor sit amet a diam consectetur adipiscing elit
                sed do tempor estim nisi ut aliquip ex ea commodo consequat.

                Logotype design using <a 
                href="https://www.fontspring.com/fonts/missy-meyer/allspice"
                target="_blank">Allspice</a> by Missy Meyer.
            </p>

            <div class="caption">
                <Image src={FeedThemLogo} alt="" />
                <p>Caption.</p>
            </div>

            <div class="caption">
                <Image class="fullwidth" src={FeedThemDesktopImage} alt="" />
                <p>Caption.</p>
            </div>

            <h2>Response</h2>
            <p>
                Lorem ipsum dolor sit amet a diam consectetur adipiscing elit
                sed do tempor estim nisi ut aliquip ex ea commodo consequat.
            </p>

            <p><a href="/archive">See more work</a>.</p>
            <br />
        </div>
    </article>
</Layout>
