---
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";
import CesDesktop from "../../assets/CES-desktop.png";
import CesGif from "../../assets/CES.gif";
---

<Layout>
    <article class="post">
        <div class="post--header">
            <div class="post--date">April 2022</div>
            <h1>Comparison is the thief of joy</h1>
        </div>

        <div class="post--body">
            <p>
                Lorem ipsum dolor sit amet a diam consectetur adipiscing elit
                sed do tempor estim nisi ut aliquip ex ea commodo consequat.
            </p>

            <div class="caption">
                <Image src={CesGif} alt="" />
                <p>Caption.</p>
            </div>

            <div class="caption">
                <Image class="fullwidth" src={CesDesktop} alt="" />
                <p>Caption.</p>
            </div>

            <h2>Response</h2>
            <p>
                Lorem ipsum dolor sit amet a diam consectetur adipiscing elit
                sed do tempor estim nisi ut aliquip ex ea commodo consequat.
            </p>

            <p><a href="/work">See more work</a>.</p>
            <br />
        </div>
    </article>
</Layout>
