---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <article class="post">
        <div class="post--header">
            <h1>Winning hearts and minds</h1>
        </div>
        <div class="post--body">
            <p>
                Hi, I'm Jo. 'Easily read' is the moniker I've had for
                twenty-something years. I am quite genuinely and
                unapologetically an open book.
            </p>
            <p>
                I'm a trained Information Designer and experienced Design Team
                Leader. I run engaging creative workshops. I love project
                planning and strategy and spend a lot of my time defining and
                prioritising briefs.
            </p>
            <p>
                I'm also a conscientious problem-solver. I'm extremely
                organised. I listen, I ask challenging questions and I work
                really, really hard.
            </p>

            <h2>Born of doubt and inquiry</h2>

            <p>
                I aspire to embed inclusive design principles throughout my team
                and our work. I design in a medium that will communicate a
                concept most effectively at the fidelity most appropriate for
                the audience.
            </p>
            <p>
                There are a
                <a href="/work">range of projects</a> on this site that
                demonstrate my approach but the content is not exhaustive. If
                you would like to know more please
                <a href="/contact">get in touch</a>.
            </p>
            <br />
            <div class="post--date">October 2023</div>
        </div>
    </article>
</Layout>
