---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <article class="post">
        <div class="post--header">
            <h1>Strong opinions loosely held</h1>
        </div>

        <div class="post--body">
            <p>
                As a highly motivated designer with more than ten years
                experience in Digital I've been fortunate to work in-house,
                client-side, at agencies and with start-ups. I have freelanced,
                trained, mentored, and consulted.
            </p>
            <p>
                I've designed award-winning campaigns, new and refreshed
                identities, communication strategies and visual languages. I've
                built brands, raised revenue (and morale) and formed communities
                to fund charitable works.
            </p>

            <h2>Nevertheless she persisted</h2>
            <p>
                Lorem ipsum dolor sit amet
                <a href="/posts/hope-begins">design system thinking</a>.
            </p>
            <p>
                Est diam consectetur adipiscing
                <a href="/posts/thief-of-joy">smoke and mirrors</a>.
            </p>
            <p>
                Elit sed do tempor estim
                <a href="/posts/ask-forgiveness"> IELTS pitch.</a>
            </p>
            <br />
        </div>
    </article>
</Layout>
